#background{
    width: 40%;
    height: 200px;
    background-image: url('./mike-tinnion-3ym6i13Y9LU-unsplash\ \(1\).jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#Title{
    color: lightslategrey;
}
#editback{
    /* width: 100%; */
    /* height: 100vh; */
    background-image:url('./notebook.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}